[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    migrations,
    .env,
    .venv,
    env,
    venv,
    .eggs,
    *.egg,
    node_modules,
ignore = 
    E203,
    E266,
    E501,
    W503,
    F403,
    F405
